/*
	FILENAME		gp_layout.css
	AUTHOR			Group 6
	DATE			03/26/2024
	DESCRIPTION		This CSS file contains layout information for group project pages.
*/
#sidebar {
  width: 30%;
  height: 100vh;
}

body nav {
  position: fixed;
  text-align: center;

  img#logo {
    width: 76px;
    margin: 10px 10px 10px 10px;
    float: left;
  }

  div#profile {
    clear: left;
    margin: auto;

    img {
      width: 55%;
    }
  }

  div#socialMedia {
    padding-top: 1em;
    img {
      width: 6%;
    }
  }

  div#contactInfo {
    padding-top: 3%;
    padding-left: 13%;
    text-align: left;

  }
}

body article {
  width: 64%;
  float: right;
  margin-top: 2em;
}

#nav-sidebar{
  position: fixed;
  top: 20%;
  left: 30%;
  height: 580px;
  width: 95px;
}

#about-tech-drawing {
  width: 35%;
  height: 35%;
  margin-right: 10%;
}

#about-me-opening {
  display: flex;
  flex-direction: row;
}

#about-me-opening > span{
  margin-right: 40px;
}

#profileQuote {
  display: flex;
  flex-direction: row;
}


#profileQuote > #profile-quote-span {
  margin-right: 40px;
  width: 50%;
}

#profileQuote > img {
  width: 15%;
  height: 15%;
  margin-right: 30px;
}

#spacer-quote {
  width: 10%;
}

#education-title {
  display: flex;
  flex-direction: row;
  img {
    height: 4.5em;
  }
}

#university-education {
  display: flex;
  flex-direction: row;
  align-items: center;
  img {
    height: 10em;
  }
}

#experience-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  img {
    height: 4.5em;
  }
}


@media (max-width: 900px) {
  #sidebar {
    width: 0;
    display: none;
  }
  #nav-sidebar {
    left: 0;
  }
  body article {
    width: 80%;
  }
  #about-me-opening {
    display: block;
    #about-tech-drawing {
      width: 75%;
    }
  }
  #profileQuote {
    display: block;
    img {
      width: 60%;
    }
  }

}
